---
layout: default
---
<div ng-controller="rachelCtrl">
<h3 style="padding-bottom:10px">Check out this sweet race car driver searching!</h3>
<input type="text" ng-model="nameFilter" placeholder="Search"/>
<input type="text" ng-model="localStorageVal" placeholder="Add driver"/>
<a ng-click="saveToLocalStorage()" ng-show="localStorageVal != ''">Add a thing to local storage!</a>
<div ng-repeat="driver in drivers | orderBy: 'Driver.givenName'| filter: nameFilter">
  <div style="padding-top:5px">
    <span ng-bind="driver.Driver.givenName"></span>
    <span ng-bind="driver.Driver.familyName"></span>
  </div>
</div>
</div>
